<div class="row">
  <div class="col-md-6 mx-auto">
<div class="card">
  <div class="card-body">
    <h1 class="text-center pb-4 pt-3">
      <span class="text-primary"><i class="fa fa-lock"></i> Client Panel</span> Login
    </h1>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label id="email">Email</label>
        <input class="form-control" type="email" name="email" [(ngModel)]="email" required>
      </div>
      <div class="form-group">
        <label id="password">Password</label>
        <input class="form-control" type="password" name="password" [(ngModel)]="password" required>
      </div>
      <input type="submit" value="login" class="btn btn-primary btn-block">
    </form>
  </div>
</div>

  </div>
</div>
