<div class="row">
 <div class="col-md-6">
   <a routerLink="/" class="btn-btn-link">
     <i class="fa fa-arrow-circle-o-left"></i> Back To Dashboard
   </a>
 </div>
  <div class="col-md-6">

  </div>
</div>

<div class="card">
  <div class="card-header">
    Add Client
  </div>
  <div class="card-body">
    <form #clientForm="ngForm"  (ngSubmit)="onSubmit(clientForm)">
      <div class="form-group">
        <label>First Name</label>
        <input
          type="text"
          class="form-control"
          name="firstName"
          #clientFirstName="ngModel"
          [ngClass]="{'is-invalid':clientFirstName.errors &&
          clientFirstName.touched}"
          [(ngModel)]="client.firstName"
          minLength="2"
          required
          >

      <div [hidden]="!clientFirstName.errors?.required"
        class="invalid-feedback">
        First name required
      </div>
      <div [hidden]="!clientFirstName.errors?.minLength"
        class="invalid-feedback">
        Must be at least 2 characters
      </div>
      </div>

      <div class="form-group">
        <label>Last Name</label>
        <input
          type="text"
          class="form-control"
          name="lastName"
          #clientLastName="ngModel"
          [ngClass]="{'is-invalid':clientLastName.errors &&
          clientLastName.touched}"
          [(ngModel)]="client.lastName"
          minLength="2"
          required
        >
        <div [hidden]="!clientLastName.errors?.required"
             class="invalid-feedback">
          Last name required
        </div>
        <div [hidden]="!clientLastName.errors?.minLength"
             class="invalid-feedback">
          Must be at least 2 characters
        </div>
      </div>

      <div class="form-group">
        <label>Email</label>
        <input
          type="text"
          class="form-control"
          name="email"
          #clientEmail="ngModel"
          [ngClass]="{'is-invalid':clientEmail.errors &&
          clientEmail.touched}"
          [(ngModel)]="client.email"
          pattern="(?![_.-])((?![_.-][_.-])[a-z\d_.-]){0,63}[a-z\d]@(?!-)((?!--)[a-z\d-]){0,63}[a-z\d]\.(((?!-)((?!--)[a-z\d-]){0,63}[a-z\d]\.)|)(([a-z]{2,14}\.)|)[a-z]{2,14}"
          required
        >
        <div [hidden]="!clientEmail.errors?.required"
             class="invalid-feedback">
          Email required
        </div>
        <div [hidden]="!clientEmail.errors?.pattern"
             class="invalid-feedback">
          Must be valid email
        </div>
      </div>

      <div class="form-group">
        <label>Phone Number</label>
        <input
          type="number"
          class="form-control"
          name="phone"
          #clientPhone="ngModel"
          [ngClass]="{'is-invalid':clientPhone.errors &&
          clientPhone.touched}"
          [(ngModel)]="client.phone"
          minLength = 10
          required
        >
        <div [hidden]="!clientPhone.errors?.required"
             class="invalid-feedback">
          Phone number required
        </div>
        <div [hidden]="!clientPhone.errors?.minLength"
             class="invalid-feedback">
          Must be at least 10 digits
        </div>
      </div>

      <div class="form-group">
        <label>Balance</label>
        <input
          type="number"
          class="form-control"
          name="balance"
          #clientBalance="ngModel"
          [(ngModel)]="client.balance"
          [disabled]="disableBalanceOnAdd"
        >
      </div>

      <input type="submit" value="Submit" class="btn btn-primary btn-block">
    </form>
  </div>
</div>
